{% extends "filemanager/filemanager_base.html" %}

{% load i18n static %}

{% block content %}

{% if request.user.is_authenticated or public %}
<div class="main-content">
  {% if request.user.is_authenticated %}
  <table width="100%">
    <tr>
      <td width="15%" style="display:inline-table; margin-top:6px; background-image: url('/static/img/sidebar-bg.png')" class="admin-sidebar" valign="top">
        <div>
          <font> СЕРВЕР </font>
          <font style="color:#8ad641; float: right;">{{ server.left }}ГБ </font><font style="color:#ff4633; margin-left: 0px">{{ server.hostname | upper}} </font>
          <div>
            <div>
              <img src="/static/img/progress-bar.png" style="width: 230px; margin-top: 10px">
              <div class="progress-active">
                <img src="/static/img/progress-bar-active.png" style="right: {{server.free}}%;">
              </div>
            </div>
           <!--  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{ server.free }}%; background-image: url('/static/img/progress-bar.png')"></div> -->
          </div>
{#          <font> СВОБОДНО </font>#}
{#          <font style="color:#8ad641; float: right;"> 2ГБ из 8ГБ </font>#}
{#          <div class="progress">#}
{#              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>#}
{#          </div>#}
        </div>
        <div class="mini-cloud">
        </div>
        <div style="padding-top:15px; padding-bottom: 15px">
          <font class="top-buttons-font"><a href="#" class="item-link support"><img class="support-img top-buttons-img" src="/static/img/support.png"> Служба поддержки </a></font>
        </div>
      </td>
      <td width="65%" valign="top" style="display:inline-table;">
        <table style="border-spacing: 0px 15px">
          <tr>
            <th class="upload-th">
              <button class="top-buttons" id="upload-modal-btn" data-href="{% url 'upload' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" class="btn btn-default" style="width: 120px; margin-left: 20px; margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/upload-btn.png" class="top-buttons-img">ЗАГРУЗИТЬ</font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -70px">
              <img src="/static/img/button-right.png" style="z-index: -10; position: absolute; margin-top: -45px; margin-left: 51px">
            </th>
            <th class="create-directory-th">
              <button class="top-buttons" id="create-directory-btn" data-href="{% url 'create-directory' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" style="width: 140px;margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/create-directory-btn.png" class="top-buttons-img">НОВАЯ ПАПКА</font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -80px">
              <img src="/static/img/button-right.png" style="z-index: -10;position: absolute; margin-top: -45px; margin-left: 55px">
            </th>
            <th class="download-th">
              <button class="top-buttons btn-inactive" disabled id="download-btn" style="width: 50px;z-index: 10; margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/download-btn.png" class="top-buttons-img" style="margin-left:8px; "></font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -35px">
              <img src="/static/img/button-right.png" style="z-index: -2; position: absolute; margin-top: -45px; margin-left: 9px; opacity: 0.4">
            </th>
            <th class="delete-modal-th">
              <button class="top-buttons btn-inactive" disabled id="delete-modal-btn" data-href="{% url 'delete' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" style="width: 50px; margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/delete-btn.png" class="top-buttons-img" style="margin-left:8px"></font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -35px">
              <img src="/static/img/button-right.png" style="z-index: -2; position: absolute; margin-top: -45px; margin-left: 9px; opacity: 0.4">
            </th>
            <th class="get-link-th">
              <button class="top-buttons btn-inactive" disabled id="get-link-btn" style="width: 160px; margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/link.png" class="top-buttons-img">СОЗДАТЬ ССЫЛКУ</font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -90px">
              <img src="/static/img/button-right.png" style="z-index: -10; position: absolute; margin-top: -45px; margin-left: 65px; opacity: 0.4">
            </th>
            <th class="rename-modal-th">
              <button class="top-buttons btn-inactive" disabled id="rename-modal-btn" data-href="{% url 'rename' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" style="width: 150px; margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/rename-btn.png" class="top-buttons-img"> ПЕРЕИМЕНОВАТЬ</font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -85px">
              <img src="/static/img/button-right.png" style="z-index: -10; position: absolute; margin-top: -45px; margin-left: 60px; opacity: 0.4">
            </th>
            <th class="replace-modal-th">
              <button class="top-buttons btn-inactive" disabled id="replace-modal-btn"  class="btn btn-default" style="width: 140px; margin-right: 10px; display: block;"><font class="top-buttons-font"><img src="/static/img/replace-btn.png" class="top-buttons-img"> ПЕРЕМЕСТИТЬ</font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -80px">
              <img src="/static/img/button-right.png" style="z-index: -10; position: absolute; margin-top: -45px; margin-left: 55px; opacity: 0.4">
            </th>
            <th class="replace-here-th" hidden>
              <button class="top-buttons" id="replace-here-btn"  class="btn btn-default" style="width: 170px; margin-left: 15px; display: block;"><font class="top-buttons-font"><img src="/static/img/replace-btn.png" class="top-buttons-img"> ПЕРЕМЕСТИТЬ СЮДА</font></button>
              <img src="/static/img/button-left.png" style="z-index: 101; position: absolute; margin-top: -52px; margin-left: -180px">
              <img src="/static/img/button-right.png" style="z-index: -10; position: absolute; margin-top: -45px; margin-left: 79px; opacity: 0.4">
            </th>
          </tr>
        </table>
        {% else %}
        <table style="margin-left: 2px;margin-bottom: 10px">
          <tr>
            <th>
              <button class="top-buttons btn-inactive" disabled id="download-btn" style="width: 115px;"><font class="top-buttons-font"><img src="/static/img/download-btn.png" class="top-buttons-img">СКАЧАТЬ</font></button>
            </th>
          </tr>
        </table>
        {% endif %}
        <table class="fm-table" style="{% if request.user.is_authenticated %}width: 97.5%;{% else %}width:93%;{% endif %}">
          <thead>
              <tr>
                <td class="fm-head">
                <input type="checkbox" class="checkAll mgc mgr-lg" name="checkAll" style="margin-right: 20px; margin-left: 1.5px"/>{% if not search %}
                  <font>{% if not public %}{% for breadcrumb in breadcrumbs %}
                  {% if forloop.last %}
                  > {{breadcrumb.label}}
                  {% else %}
                  <a href="{% url 'browser' %}?path={{breadcrumb.path}}{% if popup %}&amp;popup=1{% endif %}" style="text-decoration: none; color: #0084fe;">> {{breadcrumb.label}}</a>
                  {% endif %}
                  {% endfor %}{% endif %}</font>
                  {% load utils %}
                  <font style="float:right">{% get_el_number n_dir n_file %}</font>
                  {% else %}
                  <font>
                  <a href="/" style="text-decoration: none; color: #0084fe; font-size: 12px">> Home </a> > Поиск по запросу <nobr style="color: #0084fe">{{ search }}</nobr> </font>
                  {% endif %}
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="fm-body">
                  <table class="items" width="100%">
                    {% if files %}
                    {% for file in files %}
                    {% if file.filetype == "Directory" %}
                    <tr data-href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}">
                      <td width="{% if request.user.is_authenticated %}4.5%{% else %}3%{% endif %}"><input type="checkbox" class="mgc mgr-lg checkbox" id="check-dir" data="{{file.filename}}"  data-url="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" data-path="{{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" style="background-color: #f5f2ee;" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"></td>
                      <td width="{% if request.user.is_authenticated %}60%{% else %}62%{% endif %}"><font class="top-buttons-font"><img src="/static/img/folder.png" class="top-buttons-img" style="margin-bottom: -8px;"><a href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" class="item-link clickable-row">{{file.filename}}</a></font></td>
                      <td width="{% if request.user.is_authenticated %}12.5%{% else %}8.5%{% endif %}"><font class="top-buttons-font"><a href="#" class="item-link download-item download-folder" data-path="{{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" data="{{file.filename}}"><img class="download-img top-buttons-img" src="/static/img/download-btn.png"> </a></font></td>
                      <td width="{% if request.user.is_authenticated %}10%{% else %}7%{% endif %}"><font class="top-buttons-font"><img class="top-buttons-img" src="/static/img/calendar.png"> {{file.filedate}}</font></td>
                      {% if request.user.is_authenticated %}
                      <td style="float:right; margin-right: 20px"><a href="#" data="{{file.filename}}" data-url="{{file.filepath}}" class="link-modal-btn" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"><img class="link-item" src="/static/img/link.png"></a></td>
                      {% endif %}
                    </tr>
                    {% else %}
                    <tr data-href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}">
                      <td width="{% if request.user.is_authenticated %}4.5%{% else %}3%{% endif %}"><input type="checkbox" class="mgc mgr-lg checkbox" id="check-file" data="{{file.filename}}" data-url="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" data-path="{{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" style="background-color: #f5f2ee;" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"></td>
                      <td width="{% if request.user.is_authenticated %}60%{% else %}62%{% endif %}"><font><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" class="item-link clickable-row">{{file.filename}}</a></font></td>
                      <td width="{% if request.user.is_authenticated %}12.5%{% else %}8.5%{% endif %}"><font class="top-buttons-font"><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" download class="item-link download-item"><img class="download-img top-buttons-img" src="/static/img/download-btn.png"> {{file.filesize}}</a></font></td>
                      <td width="{% if request.user.is_authenticated %}10%{% else %}7%{% endif %}"><font class="top-buttons-font"><img class="top-buttons-img" src="/static/img/calendar.png"> {{file.filedate}}</font></td>
                      {% if request.user.is_authenticated %}
                      <td style="float:right; margin-right: 20px"><a href="#" data="{{file.filename}}" data-url="{{file.filepath}}" class="link-modal-btn" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"><img class="link-item" src="/static/img/link.png"></a></td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <img id="bg-image" src="/static/img/treasure.png" style="z-index: -10; margin-left: -21px; position: absolute; bottom: 0; opacity: 0.5">
                    {% else %}
                    <tr>
                      <td>
                        <font>Нет файлов</font>
                      </td>
                    </tr>
                    {% endif %}
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
  </table>
</div>

</div>
{% else %}
<div class="main-content" align="center">
  <font style="font-size: 36px;">Добро пожаловать на <a href="/" class="item-link-reverse">dmc.cx!</a></font><br><br>
</div>
{% endif %}
<footer style="margin-bottom: 50px">
</footer>

{% if popup %}
<script src="{% static 'js/filemanager.js' %}"></script>
{% endif %}

{% include 'filemanager/create_directory_modal.html' %}
{% include 'filemanager/file_info_modal.html' %}
{% include 'filemanager/upload_modal.html' %}
{% include 'filemanager/rename_modal.html' %}
{% include 'filemanager/remove_modal.html' %}
{% include 'filemanager/link_modal.html' %}
{% include 'filemanager/auth_modal.html' %}

<script type="text/javascript">
  $('#replace-here-btn').click(function() {
    var replace_file = Cookies.get('replace');
    var token = $("input[name=csrfmiddlewaretoken]").val();
    var path = "{{path}}";

    if(path == "") {
      path = "/";
    }

    $.post("{% url 'replace' %}?path={{path}}", {
      'old_path': replace_file, 
      'input_path': path,
      'csrfmiddlewaretoken': token
    }).done(function() {
      Cookies.remove('replace');
      location.reload();
    });
  });

  $(document).ready(function() {
    var rows = 0;
    $('.clickable-row').each(function() {
      rows = rows + 1;
    });

    if(rows < 4) {
      $('#bg-image').hide();
    }
  });
</script>>

<script src="{% static 'js/other.js' %}"></script>
<script src="{% static 'js/filemanager_dynamic.js' %}"></script>
<script src="{% static 'js/checkbox.js' %}"></script>
<script src="{% static 'js/jszip-utils.js' %}"></script>
<script src="{% static 'js/zip_down.js' %}"></script>
<script src="{% static 'js/FileSaver.js' %}"></script>
<script src="{% static 'js/js-search.js' %}"></script>
<script src="{% static 'js/get_image_data.js' %}"></script>
<script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>

<script src="{% static 'js/vendor/jquery.ui.widget.js' %} "></script>
<script src="{% static 'js/jquery.iframe-transport.js' %} "></script>
<script src="{% static 'js/jquery.fileupload.js' %} "></script>
{% endblock %}
