{% extends "filemanager/filemanager_base.html" %}

{% load i18n static %}

{% block content %}

<div class="main-content">
  <table style="margin-left: 2px;margin-bottom: 10px">
    <tr>
      <th>
        <button class="top-buttons btn-inactive" disabled id="download-btn" style="width: 115px;"><font class="top-buttons-font"><img src="/static/img/download-btn.png" class="top-buttons-img">СКАЧАТЬ</font></button>
      </th>
    </tr>
  </table>
  <table class="fm-table" width="100%">
    <thead>
        <tr>
          <td class="fm-head">
          <input type="checkbox" class="checkAll mgc mgr-lg" name="checkAll" style="margin-right: 20px; margin-left: 1.5px"/>
            <font>{% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
            > {{breadcrumb.label}}
            {% else %}
            <a href="{% url 'browser' %}?path={{breadcrumb.path}}{% if popup %}&amp;popup=1{% endif %}" style="text-decoration: none; color: #5eb961;">> {{breadcrumb.label}}</a>
            {% endif %}
            {% endfor %}</font>
            <font style="float:right">{% get_dirs_number n_dir n_file %}</font>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="fm-body">
            <table class="items" width="100%">
              {% if files %}
              {% for file in files %}
              {% if file.filetype == "Directory" %}
              <tr data-href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}">
                <td width="3%"><input type="checkbox" class="mgc mgr-lg checkbox" id="check-dir"  data-url="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" style="background-color: #f5f2ee;"></td>
                <td width="62%"><font class="top-buttons-font"><img src="/static/img/folder.png" class="top-buttons-img" style="margin-bottom: -8px;"><a href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" class="item-link clickable-row">{{file.filename}}</a></font></td>
                <td width="8.5%"><font class="top-buttons-font"><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" class="item-link download-item download-folder" data="{{file.filename}}"><img class="download-img top-buttons-img" src="/static/img/download-btn.png"> {{file.filesize}}</a></font></td>
                <td width="7%"><font class="top-buttons-font"><img class="top-buttons-img" src="/static/img/calendar.png"> {{file.filedate}}</font></td>
              </tr>
              {% else %}
              <tr data-href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}">
                <td width="3%"><input type="checkbox" class="mgc mgr-lg checkbox" id="check-file" data-url="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" style="background-color: #f5f2ee;"></td>
                <td width="62%"><font><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" class="item-link clickable-row">{{file.filename}}</a></font></td>
                <td width="8.5%"><font class="top-buttons-font"><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" download class="item-link download-item"><img class="download-img top-buttons-img" src="/static/img/download-btn.png"> {{file.filesize}}</a></font></td>
                <td width="7%"><font class="top-buttons-font"><img class="top-buttons-img" src="/static/img/calendar.png"> {{file.filedate}}</font></td>
              </tr>
              {% endif %}
              {% endfor %}
              {% else %}
            </table>
          </td>
        </tr>
      </tbody>
  </table>

</div>

{% include 'filemanager/auth_modal.html' %}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  $(".download-item").mousemove(function() {
    $(this).find(".download-img").attr('src', '/static/img/download-btn-hover.png')
  });
  $(".download-item").mouseleave(function() {
    $(this).find(".download-img").attr('src', '/static/img/download-btn.png');
  });
  $('#auth-modal-btn').click(function (e) {
    e.preventDefault();
    $('#auth-modal').modal('show');
  });
  $(".download-folder").on("click", function () {

    var zip = new JSZip();
    // find every checked item
    var $this = $(this);
    var url = $this.data("href");
    var filename = $(this).attr('data');
    
    zip.folder(filename);
    zip.generateAsync({type:"blob"}, function updateCallback(metadata) {
    })
    .then(function callback(blob) {
        saveAs(blob, "download.zip");
    }, function (e) {
    });

    return false;
  });
  $('#login_button').on("click", function(e) {
    e.preventDefault();
    $('#error-login').hide();
    $.ajax({
      type: "POST",
      url: './login/',
      data: {
        'username': $('#id_username').val(),
        'password': $('#id_password').val(),
        'login': $('#id_login').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function(response) {
          if (response['result'] === "Success!") {
              let url = "/";
              $(location).attr('href', url);
          } else if (response['result'] === "Verificate!") {
              let url = "/?message=VERIFICATE";
              $(location).attr('href', url);
          } else {
              $('#error-login').show();
          }
      }
    });
  });
</script>

<script src="{% static 'js/other.js' %}"></script>
<script src="{% static 'js/checkbox.js' %}"></script>
<script src="{% static 'js/jszip-utils.js' %}"></script>
<script src="{% static 'js/zip_down.js' %}"></script>
<script src="{% static 'js/FileSaver.js' %}"></script>
<script src="{% static 'js/js-search.js' %}"></script>
<script src="{% static 'js/get_image_data.js' %}"></script>
<script src="{% static 'js/drag_and_drop.js' %}"></script>
<script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>

<script src="{% static 'js/vendor/jquery.ui.widget.js' %} "></script>
<script src="{% static 'js/jquery.iframe-transport.js' %} "></script>
<script src="{% static 'js/jquery.fileupload.js' %} "></script>
{% endblock %}
