{% extends "filemanager/filemanager_base.html" %}

{% load i18n static %}

{% block content %}

<div class="main-content">
  {% if request.user.is_authenticated %}
  <table width="100%">
    <tr>
      <td width="15%" style="display:inline-table; margin-top:6px" class="admin-sidebar" valign="top">
        <div>
          <font> СЕРВЕР </font>
          <font style="color:#ff4633; float: right;"> {{ server.hostname }} </font>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{ server.free }}%"></div>
          </div>
{#          <font> СВОБОДНО </font>#}
{#          <font style="color:#8ad641; float: right;"> 2ГБ из 8ГБ </font>#}
{#          <div class="progress">#}
{#              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>#}
{#          </div>#}
        </div>
        <div class="mini-cloud">
        </div>
        <div style="padding-top:15px; padding-bottom: 15px">
          <font class="top-buttons-font"><a href="#" class="item-link support"><img class="support-img top-buttons-img" src="/static/img/support.png"> Служба поддержки </a></font>
        </div>
      </td>
      <td width="65%" valign="top" style="display:inline-table;">
        <table style="border-spacing: 0px 5px">
          <tr>
            <th class="upload-th">
              <button class="top-buttons" id="upload-modal-btn" data-href="{% url 'upload' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" class="btn btn-default" style="width: 120px; margin-left: 8px"><font class="top-buttons-font"><img src="/static/img/upload-btn.png" class="top-buttons-img">ЗАГРУЗИТЬ</font></button>
            </th>
            <th class="create-directory-th">
              <button class="top-buttons" id="create-directory-btn" data-href="{% url 'create-directory' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" style="width: 140px;"><font class="top-buttons-font"><img src="/static/img/create-directory-btn.png" class="top-buttons-img">НОВАЯ ПАПКА</font></button>
            </th>
            <th class="download-th">
              <button class="top-buttons btn-inactive" disabled id="download-btn" style="width: 50px;"><font class="top-buttons-font"><img src="/static/img/download-btn.png" class="top-buttons-img" style="margin-left:8px"></font></button>
            </th>
            <th class="delete-modal-th">
              <button class="top-buttons btn-inactive" disabled id="delete-modal-btn" data-href="{% url 'delete' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" style="width: 50px;"><font class="top-buttons-font"><img src="/static/img/delete-btn.png" class="top-buttons-img" style="margin-left:8px"></font></button>
            </th>
            <th class="get-link-th">
              <button class="top-buttons btn-inactive" disabled id="get-link-btn" style="width: 160px;"><font class="top-buttons-font"><img src="/static/img/link.png" class="top-buttons-img">СОЗДАТЬ ССЫЛКУ</font></button>
            </th>
            <th class="rename-modal-th">
              <button class="top-buttons btn-inactive" disabled id="rename-modal-btn" data-href="{% url 'rename' %}?path={{path}}{% if popup %}&amp;popup=1{% endif %}" style="width: 150px;"><font class="top-buttons-font"><img src="/static/img/rename-btn.png" class="top-buttons-img"> ПЕРЕИМЕНОВАТЬ</font></button>
            </th>
            <th class="replace-modal-th">
              <button class="top-buttons btn-inactive" disabled id="replace-modal-btn"  class="btn btn-default" style="width: 140px;"><font class="top-buttons-font"><img src="/static/img/replace-btn.png" class="top-buttons-img"> ПЕРЕМЕСТИТЬ</font></button>
            </th>
            <th class="replace-here-th" hidden>
              <button class="top-buttons" id="replace-here-btn"  class="btn btn-default" style="width: 170px;"><font class="top-buttons-font"><img src="/static/img/replace-btn.png" class="top-buttons-img"> ПЕРЕМЕСТИТЬ СЮДА</font></button>
            </th>
          </tr>
        </table>
        {% else %}
        <table style="margin-left: 2px;margin-bottom: 10px">
          <tr>
            <th>
              <button class="top-buttons btn-inactive" disabled id="download-btn" style="width: 115px;"><font class="top-buttons-font"><img src="/static/img/download-btn.png" class="top-buttons-img">СКАЧАТЬ</font></button>
            </th>
          </tr>
        </table>
        {% endif %}
        <table class="fm-table" style="{% if request.user.is_authenticated %}width: 105.5%;{% else %}width:93%;{% endif %}">
          <thead>
              <tr>
                <td class="fm-head">
                <input type="checkbox" class="checkAll mgc mgr-lg" name="checkAll" style="margin-right: 20px; margin-left: 1.5px"/>
                  <font>{% if not public %}{% for breadcrumb in breadcrumbs %}
                  {% if forloop.last %}
                  > {{breadcrumb.label}}
                  {% else %}
                  <a href="{% url 'browser' %}?path={{breadcrumb.path}}{% if popup %}&amp;popup=1{% endif %}" style="text-decoration: none; color: #5eb961;">> {{breadcrumb.label}}</a>
                  {% endif %}
                  {% endfor %}{% endif %}</font>
                  {% load utils %}
                  <font style="float:right">{% get_el_number n_dir n_file %}</font>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="fm-body">
                  <table class="items" width="100%">
                    {% if files %}
                    {% for file in files %}
                    {% if file.filetype == "Directory" %}
                    <tr data-href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}">
                      <td width="{% if request.user.is_authenticated %}4.5%{% else %}3%{% endif %}"><input type="checkbox" class="mgc mgr-lg checkbox" id="check-dir" data="{{file.filename}}"  data-url="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" data-path="{{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" style="background-color: #f5f2ee;" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"></td>
                      <td width="{% if request.user.is_authenticated %}60%{% else %}62%{% endif %}"><font class="top-buttons-font"><img src="/static/img/folder.png" class="top-buttons-img" style="margin-bottom: -8px;"><a href="?path={{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" class="item-link clickable-row">{{file.filename}}</a></font></td>
                      <td width="{% if request.user.is_authenticated %}12.5%{% else %}8.5%{% endif %}"><font class="top-buttons-font"><a href="#" class="item-link download-item download-folder" data-path="{{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" data="{{file.filename}}"><img class="download-img top-buttons-img" src="/static/img/download-btn.png"> </a></font></td>
                      <td width="{% if request.user.is_authenticated %}10%{% else %}7%{% endif %}"><font class="top-buttons-font"><img class="top-buttons-img" src="/static/img/calendar.png"> {{file.filedate}}</font></td>
                      {% if request.user.is_authenticated %}
                      <td style="float:right; margin-right: 20px"><a href="#" data="{{file.filename}}" data-url="{{file.filepath}}" class="link-modal-btn" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"><img class="link-item" src="/static/img/link.png"></a></td>
                      {% endif %}
                    </tr>
                    {% else %}
                    <tr data-href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}">
                      <td width="{% if request.user.is_authenticated %}4.5%{% else %}3%{% endif %}"><input type="checkbox" class="mgc mgr-lg checkbox" id="check-file" data="{{file.filename}}" data-url="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" data-path="{{file.filepath}}{% if popup %}&amp;popup=1{% endif %}" style="background-color: #f5f2ee;" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"></td>
                      <td width="{% if request.user.is_authenticated %}60%{% else %}62%{% endif %}"><font><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" class="item-link clickable-row">{{file.filename}}</a></font></td>
                      <td width="{% if request.user.is_authenticated %}12.5%{% else %}8.5%{% endif %}"><font class="top-buttons-font"><a href="{{file.fileurl}}{% if popup %}&amp;popup=1{% endif %}" download class="item-link download-item"><img class="download-img top-buttons-img" src="/static/img/download-btn.png"> {{file.filesize}}</a></font></td>
                      <td width="{% if request.user.is_authenticated %}10%{% else %}7%{% endif %}"><font class="top-buttons-font"><img class="top-buttons-img" src="/static/img/calendar.png"> {{file.filedate}}</font></td>
                      {% if request.user.is_authenticated %}
                      <td style="float:right; margin-right: 20px"><a href="#" data="{{file.filename}}" data-url="{{file.filepath}}" class="link-modal-btn" data-link="{{file.link}}" data-blocked="{{file.blocked}}" data-url-access="{{file.url_access}}" data-allowed-urls="{{file.allowed_urls}}"><img class="link-item" src="/static/img/link.png"></a></td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>
                        <font>Нет файлов</font>
                      </td>
                    </tr>
                    {% endif %}
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
  </table>
</div>

</div>

<footer style="margin-bottom: 50px">
</footer>

{% if popup %}
<script src="{% static 'js/filemanager.js' %}"></script>
{% endif %}

{% include 'filemanager/create_directory_modal.html' %}
{% include 'filemanager/file_info_modal.html' %}
{% include 'filemanager/upload_modal.html' %}
{% include 'filemanager/rename_modal.html' %}
{% include 'filemanager/remove_modal.html' %}
{% include 'filemanager/link_modal.html' %}
{% include 'filemanager/auth_modal.html' %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.checkAll').prop('checked', false);
    $(".checkbox:checked").each(function () {
      $(this).prop('checked', false);
    });
    var replace = Cookies.get('replace');
    if(replace) {
      replaceStatus();
    }
  });
  $(".download-item").mousemove(function() {
    $(this).find(".download-img").attr('src', '/static/img/download-btn-hover.png')
  });
  $(".download-item").mouseleave(function() {
    $(this).find(".download-img").attr('src', '/static/img/download-btn.png')
  });
  $(".link-item").mousemove(function() {
    $(this).attr('src', '/static/img/link-hover.png')
  });
  $(".link-item").mouseleave(function() {
    $(this).attr('src', '/static/img/link.png')
  });
  $(".support").mousemove(function() {
    $(this).find(".support-img").attr('src', '/static/img/support-hover.png')
  });
  $(".support").mouseleave(function() {
    $(this).find(".support-img").attr('src', '/static/img/support.png')
  });

  function replaceStatus() {
    $('.rename-modal-th').hide();
    $('.create-directory-th').hide();
    $('.upload-th').hide();
    $('.download-th').hide();
    $('.get-link-th').hide();
    $('.delete-modal-th').hide();
    $('.replace-modal-th').hide();
    $('.replace-here-th').show();
    $('.fm-table').css('width', '114.5%');
  }

  $('#replace-modal-btn').click(function () {
    if($('.checkbox:checked').length==1){
      replaceStatus();
      Cookies.set('replace', $('.checkbox:checked').data("path"));
    }
  });

  $('#replace-here-btn').click(function() {
    var replace_file = Cookies.get('replace');
    var token = $("input[name=csrfmiddlewaretoken]").val();
    var path = "{{path}}";
    
    if(path == "") {
      path = "/";
    }
    
    $.post("{% url 'replace' %}?path={{path}}", {
      'old_path': replace_file, 
      'input_path': path,
      'csrfmiddlewaretoken': token
    }).done(function() {
      Cookies.remove('replace');
      location.reload();
    });
    
  });

  $('.link-modal-btn').click(function () {

    $('.added').each(function() {
      $(this).remove();
    });
    $("#saved").attr('hidden', 'hidden');

    var filename = $(this).attr('data');
    var url = $(this).data('url');
    var link = $(this).data('link');
    var blocked = $(this).data('blocked');
    var url_access = $(this).data('url-access');
    var allowed_urls = $(this).data('allowed-urls');
    var urls = allowed_urls.split(", ");
    var length = urls.length;

    if(blocked == "0") {
      $("#link-access-btn .toggle").removeClass("off");
    }

    if(url_access == "1") {
      $("#link-url-btn .toggle").removeClass("off");
    }

    $("#id_input_file_link").val(link);

    for(var i = 0; i < length; i++) {
      if(i == 0) {
        $("#id_input_file_url").val(urls[i]);
      } else {
        $( ".url-div" ).append('<input type="text" class="form-control urls added" placeholder="" aria-label="" name="input_file_url" required id="id_input_file_url" aria-describedby="button-addon2" style="float:left; margin-right: 10px; margin-bottom: 20px;" value="' + urls[i] + '"></input>');
      }
    }

    $('#link-modal .modal-title').html('Ссылка на папку "<b>'+ filename +'</b>"');
    $("#link-modal #link-access-btn").attr('data', url);
    $("#link-modal #link-url-btn").attr('data', url);
    $("#save-urls").attr('data', url);
    $('#link-modal').modal('show');
  });


  $("#copy-button").click(function() {
    var copyTextarea = document.querySelector('#id_input_file_link');
    copyTextarea.focus();
    copyTextarea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Copying text command was ' + msg);
    } catch (err) {
      console.log('Oops, unable to copy');
    }

  });

  $('#get-link-btn').click(function () {
    $('.added').each(function() {
      $(this).remove();
    });
    $("#saved").attr('hidden', 'hidden');

    var filename = $(this).attr('data');
    var url = $(this).data('url');
    var link = $(this).data('link');
    var blocked = $(this).data('blocked');
    var url_access = $(this).data('url-access');
    var allowed_urls = $(this).data('allowed-urls');
    var urls = allowed_urls.split(", ");
    var length = urls.length;

    if(blocked == "0") {
      $("#link-access-btn .toggle").removeClass("off");
    }

    if(url_access == "1") {
      $("#link-url-btn .toggle").removeClass("off");
    }

    $("#id_input_file_link").val(link);

    for(var i = 0; i < length; i++) {
      if(i == 0) {
        $("#id_input_file_url").val(urls[i]);
      } else {
        $( ".url-div" ).append('<input type="text" class="form-control urls added" placeholder="" aria-label="" name="input_file_url" required id="id_input_file_url" aria-describedby="button-addon2" style="float:left; margin-right: 10px; margin-bottom: 20px;" value="' + urls[i] + '"></input>');
      }
    }
    
    $('#link-modal .modal-title').html('Ссылка на папку "<b>'+ filename +'</b>"');
    $("#link-modal #link-access-btn").attr('data', url);
    $("#link-modal #link-url-btn").attr('data', url);
    $("#save-urls").attr('data', url);
    $('#link-modal').modal('show');
  });

  $('#auth-modal-btn').click(function (e) {
    e.preventDefault();
    $('#auth-modal').modal('show');
  });
   
  $("#link-access-btn").click(function() {
    if($(this).find('div.off').length !== 0) {
      $.post("/unblock/", {'path':$(this).attr('data'), 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()});
    } else {
      $.post("/block/", {'path':$(this).attr('data'), 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()});
    }
  });

  $("#link-url-btn").click(function() {
    if($(this).find('div.off').length !== 0) {
      $.post("/access_to_url/", {'path':$(this).attr('data'), 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()});
    } else {
      $.post("/unaccess_to_url/", {'path':$(this).attr('data'), 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()});
    }
  });
  $("#save-urls").click(function(e) {
    var urls = [];
    $(".urls").each(function() {
      urls.push($(this).val());
    });
    e.preventDefault();
    $.post("/save-urls/", {'urls' : urls, 'path' : $(this).attr('data'), 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()});
    $("#saved").show();
  });
  $(".add-url-input").click(function(e) {
    $( ".url-div" ).append('<input type="text" class="form-control urls added" placeholder="" aria-label="" name="input_file_url" required id="id_input_file_url" aria-describedby="button-addon2" style="float:left; margin-right: 10px; margin-bottom: 20px;></input><br><br><br>');
  });
  $(".search-input").click(function(e) {
    $(this).css("opacity", "1");
  });
  
  $(document).mouseup(function (e){
    var div = $(".search-input");
    if (!div.is(e.target) && div.has(e.target).length === 0) {
      $(".search-input").css("opacity", "0.7");
    }
  });
  $('#login_button').on("click", function(e) {
      e.preventDefault();
      $('#error-login').hide();
      $.ajax({
        type: "POST",
        url: './',
        data: {
          'username': $('#id_username').val(),
          'password': $('#id_password').val(),
          'login': $('#id_login').val(),
          'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
        },
        success: function(response) {
            if (response['result'] === "Success!") {
                let url = "/";
                $(location).attr('href', url);
            } else {
                $('#error-login').show();
            }
        }
      });
    });
    $('#logout_button').on("click", function(e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: './',
        data: {
          'logout': "logout",
          'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
        },
        success: function(response) {
            if (response['result'] === "Success!") {
                let url = "/";
                $(location).attr('href', url);
            } else {
                $('#error-login').show();
            }
        }
      });
    });
</script>

<script src="{% static 'js/other.js' %}"></script>
<script src="{% static 'js/checkbox.js' %}"></script>
<script src="{% static 'js/jszip-utils.js' %}"></script>
<script src="{% static 'js/zip_down.js' %}"></script>
<script src="{% static 'js/FileSaver.js' %}"></script>
<script src="{% static 'js/js-search.js' %}"></script>
<script src="{% static 'js/get_image_data.js' %}"></script>
<script src="{% static 'js/drag_and_drop.js' %}"></script>
<script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>

<script src="{% static 'js/vendor/jquery.ui.widget.js' %} "></script>
<script src="{% static 'js/jquery.iframe-transport.js' %} "></script>
<script src="{% static 'js/jquery.fileupload.js' %} "></script>
{% endblock %}
