body {
	margin: 0px;
	background-color: #edebe6;
	font-family: 'Roboto', sans-serif;
}

font {
	font-family: 'Roboto', sans-serif;
	color: #87817e;
	font-size: 12px;
}

.site-links {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: white;
}

.top-header {
	background-image: url("/static/img/topheader.png");
	position: relative;
	height: 36px;
	margin: 0px;
	z-index: 0;
}

.top-menu {
	padding-left: 8px;
	padding-top: 3px;
	width: 100%;
}

.logo-header {
	background-image: url("/static/img/header.png");
	position: relative;
	height: 102px;
	z-index: 1;
	top: -6px;
}

.top-logo-menu {
	padding-left: 75px;
	padding-top: 20px;
	width: 100%;
}

.search-form {
  	position: relative;
  	height: 35px;
  	width: 260px;
  	margin-top: -7px;
}

.search-input {
  	outline: none;
  	border: none;
  	padding: 5px 35px 5px 20px;
  	display: block;
  	width: 100%;
  	height: 35px;
  	background-image: url("/static/img/search-input.png");
  	border-radius: 7px;
  	color: #b4a69d;
}

.search-input::placeholder {
  	font-family: 'Roboto Regular';
  	color: #b4a69d;
}

.search-btn {
  	opacity: 1;
  	position: absolute; 
  	top: 7px; 
  	right: 10px;
  	z-index: 9;
  	outline: none;
  	border: none;
  	display: inline-block;
  	padding-top: 3px;
  	border-radius: 15px;
  	cursor: pointer;
  	background-color: Transparent;
  	background-repeat:no-repeat;
  	overflow: hidden;
}

.main-content {
	margin-left: 70px;
}

.btn-area {
	height: 45px;
	width: 55px;
	-webkit-filter: drop-shadow(0px 0px 10px #d7d6d4);
  	filter: drop-shadow(0px 0px 10px #d7d6d4);
	background-image: url("/static/img/checkbox-bg.png");
	position: relative;
	z-index: 3;
	opacity: 0.5;
}

.check-all {
	position: relative;
	text-align: center;
	z-index: 9;
	margin-left: -40px;
	vertical-align: top;
	margin-top: 12px;
}

.top-buttons {
	-webkit-filter: drop-shadow(0px 0px 10px #d7d6d4);
  	filter: drop-shadow(0px 0px 10px #d7d6d4);
	margin-top: -3px;
	margin-left: 6px;
	height: 45px;
	border-width: 0px;
	background-color: #f7f5f1;
	border-radius: 6px;
}

.top-buttons:hover {
	background-color: #ffffff;
}

.top-buttons-font {
	vertical-align: middle; 
	display: inline;
}

.top-buttons-img {
	margin-right:8px; 
	margin-bottom: -3px;
	display: inline;
}

.fm-table {
	-webkit-filter: drop-shadow(0px 0px 10px #d7d6d4);
  	filter: drop-shadow(0px 0px 10px #d7d6d4);
	margin-left: 10px;
	width: 92.6%; /* 1762 px*/
	border-spacing: 0px;
}

.fm-head {
	border-radius: 8px 8px 0 0;
	padding: 20px;
	background-color: #f5f2ee;
}

.fm-body {
	margin: 0;
	background-image: url("/static/img/fm-bg.png");
	padding-left: 21px;
}

.items {
	border-spacing: 0px 25px;
}

.item-link {
	text-decoration: none;
	text-overflow: ellipsis;
	color: #87817e;
}

.item-link:hover {
	color: #5eb961;
}

.link-item {
	width: 20px;
	height: 15px;
}

.select-checkbox {
	width: 20px;
	height: 20px;
	border-width: 0px;
}

.admin-sidebar {
	border-radius: 8px; 
	padding: 19px;
	background-color: #ffffff;
	-webkit-filter: drop-shadow(0px 0px 10px #d7d6d4);
  	filter: drop-shadow(0px 0px 10px #d7d6d4);
}

.progress {
	height: 10px;
	margin-top: 12px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius:8px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar {
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:15px;
	color:#fff;
	text-align:center;
	background-color:#337ab7;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;
	-o-transition:width .6s ease;
	transition:width .6s ease
}

.progress-bar{
	-webkit-background-size:40px 40px;background-size:40px 40px
}

.progress-bar-success {
	background-color: #8bd741;
}

.progress-bar-danger{
	background-color: #ff5031;
}

.modal-open {
	overflow:hidden
}

.modal {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0
}

.modal.fade .modal-dialog {
	-webkit-transition:-webkit-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out;
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	-o-transform:translate(0,-25%);
	transform:translate(0,-25%)
}

.modal.in .modal-dialog {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0)
}

.modal-open .modal {
	overflow-x:hidden;overflow-y:auto
}

.modal-dialog {
	position:relative;
	width:auto;
	margin:10px
}

.modal-content {
	position:relative;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;
	outline:0;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	box-shadow:0 3px 9px rgba(0,0,0,.5)
}

.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000
}

.modal-backdrop.fade{
	filter:alpha(opacity=0);opacity:0
}

.modal-backdrop.in{
	filter:alpha(opacity=50);
	opacity:.5
}

.modal-header{
	padding:15px;
	border-bottom:1px solid #e5e5e5
}

.modal-header .close {
	margin-top:-2px
}

.modal-title {
	margin:0;
	line-height:1.42857143
}

.modal-body {
	position:relative;
	padding:15px
}

.modal-footer{
	padding:15px;
	text-align:right;
	border-top:1px solid #e5e5e5
}

.modal-footer .btn+.btn {
	margin-bottom:0;
	margin-left:5px
}

.modal-footer .btn-group .btn+.btn{ 
	margin-left:-1px
}

.modal-footer .btn-block+.btn-block {
	margin-left:0
}

.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll
}

@media (min-width:768px){
	.modal-dialog {
		width:600px;margin:30px auto
	}

	.modal-content{
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
		box-shadow:0 5px 15px rgba(0,0,0,.5)
	}

	.modal-sm {
		width:300px
	}
}

@media (min-width:992px) {
	.modal-lg {
		width:900px
	}
}

.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before
{
	display:table;
	content:" "
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{
	clear:both
}

.btn-inactive {
	opacity: 1.5;
}