{% load i18n staticfiles %}

<div class="modal fade" id="upload-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <font class="modal-title" style="font-size:16px">Путь</font>
        </div>
        <div class="modal-body">
            <div id="show-files">
            </div>
            <div>
            <form class="form-inline" id="fileupload" data-url="{% url 'upload-file' %}">
              <input type="hidden" name="path" value="{{path}}">
              <div class="form-group">
                  <font style="font-size:14px" >Загрузить папку (или перетащить):</font><br><br>
                  <div style="width: 370px; height: 200px; background-color: white; border-radius: 8px;">
                    <font style="font-size: 18px; text-align: center; margin-left: 70px; "> Перетащите файлы сюда </font>
                    <input class="form-control" type="file" name="files[]" multiple directory webkitdirectory mozdirectory style="width: 370px; height: 50px; padding-top: 3.6%; display: none">
                  </div>
              </div>
            </form>
            </div>
            <br>
            <div class="progress">
          <div class="progress-bar" id="progress-percent" role="progressbar" style="width: 0%;">0%</div>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #5eb961; color:white">Закрыть</button>
        </div>
      </div>

    </div>
  </div>

