{% load static %}
<header>
	<div class="top-header">
		<table class="top-menu">
			<tr>
				<td width="10%">
					<a href="https://sharewood.online" class="site-links"> SHAREWOOD.ONLINE </a>
				</td>
				<td width="1%" style="color:white">•</td>
				<td width="8%">
					<a href="https://sharewood.biz" class="site-links"> SHAREWOOD.BIZ </a>
				</td>
				<td width="1%" style="color:white">•</td>
				<td width="60%">
					<a href="#"><img src="{% static 'img/tg-guru.png' %}"></a>
				</td>
				<td width="1%" style="color:#a77e47; padding-top: 0px"><img src="{% static 'img/gradient-point.png' %}"></td>
				<td>
					<a href="https://sharewood@barret.pro" class="site-links">SHAREWOOD@BARRET.PRO</a>
				</td>
				<td>
					{% if request.user.is_authenticated %}
                        <a href="#" class="site-links" id="logout_button" style="margin-right: 10px">ВЫЙТИ</a>
                    {% else %}
                        <a href="#" class="site-links" id="auth-modal-btn" style="margin-right: 10px"> ВХОД </a>
                    {% endif %}
				</td>
			</tr>
		</table>
	</div>
	<div class="logo-header">
		<table class="top-logo-menu">
			<tr>
				<td valign="top" width="73%">
					<img style="z-index: 10; margin-left: -80px; margin-top: -36.6px; position: relative;" src="{% static 'img/header-pirate.png' %}"><a href="/"><img src="{% static 'img/logo.png' %}" style="z-index: 1; position: relative; margin-top: -95px; margin-left: -30px"></a>
				</td>
				<td valign="top">
					<form class="search-form form-inline" id="searchform" action="" method="get" accept-charset="utf-8">
					  <input type="hidden" name="search_param" id="search_param" value="everywhere">
					  <input class="search-query search-input"  name="q" id="searchbox" type="search" placeholder="ПОИСК ПО ОБЛАКУ" >
					  <button class="search-btn" type="submit"><img src="{% static 'img/search-btn.png' %}"></button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</header>
<iframe id="my_iframe" style="display:none;"></iframe>